@model OptionsLayout

@{ ViewData["Title"] = "Home"; }

<form class="form-horizontal" role="form" style="padding-top: 10px;">
    <div class="form-group">
        <label class="col-sm-2 control-label" style="text-align: left;" for="expectedPriceChangeSlider">Price Target</label>
        <div class="col-sm-10">
            <input type="text"
                   id="expectedPriceChangeSlider"
                   style="width: 400px"
                   data-provide="slider"
                   data-slider-min="10"
                   data-slider-max="200"
                   data-slider-step="5"
                   data-slider-value="@(Model.TradingAccount.ExpectedPriceChange * 100)" />
            &nbsp;&nbsp;
            @Model.TradingAccount.ExpectedPriceChange.ToString("C")
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 10px;">
        <label class="col-sm-2 control-label" style="text-align: left;">Underlying Price</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Puts[0].UnderlyingPrice.ToString("C")</p>
        </div>
    </div>
</form>

@await Component.InvokeAsync("OptionsTable", new { optionType = OptionTypes.Put })
@await Component.InvokeAsync("OptionsTable", new { optionType = OptionTypes.Call })
