@{ ViewData["Title"] = "Home"; }

<div class="row">
    <div class="col-xs-12 block-header block-header-info block-header-white">
        <h2 style="margin: 20px 0;">
            <span class="title">Options Stuff Here!</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
        </h2>
    </div>
</div>